<script type="text/template" id="client">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-clientForm">
    <% if(client.id) {%>
    <input type="hidden" name="id" value="<%= client.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="password">Password</label>
    	<input type="text" class="form-control" id="password" name="password" placeholder="Enter value" value="<%= client.get('password') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= client.get('name') %>"/>	
		</div>
        	<div class="form-group" >
		<label for="role">Role</label>
    	<input type="text" class="form-control" id="role" name="role" placeholder="Enter value" disabled="disabled" value="<%= client.get('role') %>"/>	
		</div>

    </form>
    </div>
</script> 